body{
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #3c3c3c;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.board{
  width: 700px;
  height: 700px;
  display: grid;
}
.flex-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 2;
  height: 100vh;
}
.content{
  border: #3c3c3c 0.5px solid;
  background-color: #fff;
}
.dark-bg{
  background-color: #3c3c3c;
}

.btn-primary{
  background-color: #3c3c3c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
}
.btn-primary:hover{
  background-color: #fff;
  color: #3c3c3c;
  border: #3c3c3c 1px solid;
}
.btn-light{
  background-color: #fff;
  color: #3c3c3c;
  border: #3c3c3c 1px solid;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
}
.btn-light:hover{
  background-color: #3c3c3c;
  color: #fff;
  border: none;
}
.btn-colorful{
  background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
}
.btn-colorful:hover {
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}